In [1]:
from project_lib.genotype_simulation import *
from project_lib.stat_functions import *

C:\Users\Philip\miniconda3\envs\Masterarbeit\Lib\site-packages\stdpopsim\catalog\HomSap\demographic_models.py:158: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  time=int(extended_GF.time.head(1) - 1), rate=0
C:\Users\Philip\miniconda3\envs\Masterarbeit\Lib\site-packages\stdpopsim\catalog\HomSap\demographic_models.py:161: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  time=int(extended_GF.time.tail(1) + 1), rate=0

In [2]:
#read genetic map
genmap = pd.read_csv("data/sim_data/B73_genmap.csv")
#read parent genotypes
parent_genos = pd.read_csv("data/sim_data/NAM_parent_genos.csv")
#read reference allele
ref_allele = pd.read_csv("data/sim_data/B73_alleles.csv")
# read population names
populations = pd.read_csv("data/sim_data/populations.csv")

In [3]:
pop_dict = dict(zip(populations["pop"], populations["name"]))
size_dict = dict(zip(populations["pop"], populations["size"]))
pops = populations["pop"]

In [4]:
whole_sim = genotype_simulation(genetic_map = genmap, parent_genos = parent_genos, ref_allele = ref_allele, 
                                founder_list = list(["B73", "B97"]), offspring = 3, selfing_genos = 5)

starting simulation
finished chromsome 1
finished chromsome 2
finished chromsome 3
finished chromsome 4
finished chromsome 5
finished chromsome 6
finished chromsome 7
finished chromsome 8
finished chromsome 9
finished chromsome 10

In [5]:
whole_sim[0]

,individual,PZA01271.1,PZA03613.1,PZA02129.1,PZA02032.1,PHM2244.142,PZA02372.1,PHM6238.36,PZA00181.2,PZA00528.1,...,PZA03604.1,PZA00130.9,PZA02969.9,PZA02049.1,PZA00007.1,PHM5435.25,PZA01073.1,PZA01001.2,PZA02578.1,PZA00062.4
0,17,CC,AA,TT,TT,CC,TT,AA,GG,AA,...,TT,CC,CC,GG,CC,AA,AA,TT,CC,CC
1,18,CC,AA,TT,TT,CC,TT,AA,GG,AA,...,TT,CC,CC,GG,CC,AA,AA,TT,CC,CC
2,19,GG,TT,CC,AA,GG,TT,AA,TT,CC,...,TT,CC,CC,GG,CC,AA,AA,TT,CC,CC

In [6]:
recomb_means = list()
recomb_nums = list()
for i in range(0, len(whole_sim[1])):
    recomb_means.append(calc_mean_recomb(whole_sim[1][i])[0])
    recomb_nums.append(calc_mean_recomb(whole_sim[1][i])[1])

In [7]:
pd.Series(recomb_means).mean()
pd.Series(recomb_nums).mean()

6.566666666666667

In [27]:
recomb_stats = pd.DataFrame({"pop": range(0,12), "mean_norm": None, "num_norm": None, "mean_high": None, "num_high": None,
                            "mean_zero": None, "num_zero": None, "mean_mean": None, "num_mean": None})

In [41]:
recomb_stats.loc[recomb_stats["pop"] == 0, "mean_norm"] = 1

In [42]:
recomb_stats

,pop,mean_norm,num_norm,mean_high,num_high,mean_zero,num_zero,mean_mean,num_mean
0,0,1,None,None,None,None,None,None,None
1,1,None,None,None,None,None,None,None,None
2,2,None,None,None,None,None,None,None,None
3,3,None,None,None,None,None,None,None,None
4,4,None,None,None,None,None,None,None,None
5,5,None,None,None,None,None,None,None,None
6,6,None,None,None,None,None,None,None,None
7,7,None,None,None,None,None,None,None,None
8,8,None,None,None,None,None,None,None,None
9,9,None,None,None,None,None,None,None,None
10,10,None,None,None,None,None,None,None,None
11,11,None,None,None,None,None,None,None,None

In [8]:
calc_mean_recomb(whole_sim[1][0])

(36952867.5, 8.0)